header, footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    font-size: larger;
    color: azure;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
label, input {
    font-size: small;
}

.form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-self: center;
}